.header {
    background-color: #1331b0;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}
.name {
    font-family: "Lucida Handwriting", Cursive;
    font-size: 48px;
}
.container {
    width: 50%;
    position: relative
}
.container img {
    width: 50%;
    height: auto;
  }
  /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .container .btn:hover {
    background-color: black;
  }